@model CreateGameFormViewModel

<form asp-controller="Games" asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6">
            <div>
                <label asp-for="Name" class="form-label mt-4"></label>
                <input type="text" class="form-control" asp-for="Name" placeholder="Enter Name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="CategoryId" class="form-label mt-4"></label>
                <select asp-for="CategoryId" class="form-select" asp-items="@Model.Categories"
                data-placeholder="Select a category" data-minimum-results-for-search="Infinity">
                    <option value=""> </option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="SelectedDevices" class="form-label mt-4"></label>
                <select asp-for="SelectedDevices" class="form-select" asp-items="@Model.Devices" multiple
                        data-placeholder="Select devices">
                    <option></option>
                </select>
                <span asp-validation-for="SelectedDevices" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Description" class="form-label mt-4"></label>
                <textarea asp-for="Description" placeholder="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Cover" class="form-label mt-4"></label>
                <input type="file" id="fileInput" class="form-control mb-2" asp-for="Cover"
                       data-rule-extension="@FileSettings.Extentions.Replace(".",string.Empty)" data-msg-extension="Not allowed extention"
                       data-rule-filesize="@FileSettings.MaxFileSizeInbytes" data-msg-filesize ="Maximum allowed size is @FileSettings.MaxFileSizeInMB MB"/>
                <small class="form-text text-muted">Only @FileSettings.Extentions files are allowed with max size ( @FileSettings.MaxFileSizeInMB )MB.</small>
                <span asp-validation-for="Cover" class="text-danger d-block"></span>
            </div>
            <button type="submit" class="btn btn-light text-black mt-4">Save</button>
        </div>

        <div class="col-md-6 d-flex justify-content-center pt-5 overflow-hidden">
            <div name="preview" id="preview" class="preview">
                
            </div>
        </div>
    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial"></partial>
	<script src="~/js/filesize-validator.js" asp-append-version="true"></script>
    <script src="~/js/game-form.js" asp-append-version="true"></script>
} 